@model MileageStats.Web.Models.ReminderFormModel
@Html.AntiForgeryToken()
<ul>
    <li>
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { id = "ReminderTitle", maxlength = "50" })
        @Html.ValidationMessageFor(model => model.Title)
    </li>
    <li>
        @Html.LabelFor(model => model.Remarks)
        @Html.TextAreaFor(model => model.Remarks, new { wrap = "soft" })
        @Html.ValidationMessageFor(model => model.Remarks)
    </li>
    <li class="psuedo-date">
        <label for="due-date">Date <em>(mm/dd/yyyy)</em></label>
        @Html.MonthPickerFor(model => model.DueDateMonth, Model.DueDate.GetValueOrDefault(), false)
        @Html.DayPickerFor(model => model.DueDateDay, Model.DueDate.GetValueOrDefault(), false)
        @Html.YearPickerFor(model => model.DueDateYear, Model.DueDate.GetValueOrDefault(), false)
        @Html.ValidationMessageFor(model => model.DueDate)
    </li>
    <li>
        @Html.LabelFor(model => model.DueDistance)
        @Html.InputTypeFor(model => model.DueDistance)
        @Html.ValidationMessageFor(model => model.DueDistance)
    </li>
</ul>

@Html.ValidationSummary(true)

<ol class="hbox button-group">
	<li><button type="submit"><span>Save</span></button></li>
	<li class="icon false invert"><a href="@Url.Action("List", "Reminder", new { vehicleId = Model.VehicleId })"><span>Cancel</span></a></li>
</ol>

