@{
	Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
@{ Html.RenderPartial("_Flash.Mobile"); }
<div class="view">
    <h2>Sign In / Register</h2>

    <p>You can register or sign in using your existing OpenID provider. If this is your first time, we'll create a new account for you.</p>

	@using (Html.BeginForm("SignInWithProvider", "Auth"))
    {
        <ul>
            <li><a href="@Url.Action("SignInWithProvider", "Auth", new {providerUrl = "http://www.myopenid.com"})" class="openid-provider button"><img src="@Url.Content("~/Content/button-yahoo.png")" alt="Yahoo" /></a></li>
            <li><a href="@Url.Action("SignInWithProvider", "Auth", new {providerUrl = "http://www.yahoo.com"})" class="openid-provider button"><img src="@Url.Content("~/Content/button-openid.png")" alt="My OpenID" /></a></li>
            <li>
                <label for="providerUrl">or via your own OpenID URL provider</label>
                @Html.TextBox("providerUrl", null, new { maxlength = 200, placeholder="http://openidprovider.org", tabindex="1",required="required" })
            </li>
            <li>
                @Html.CheckBox("rememberMe", new { @checked = true })Remember me?
            </li>
        </ul>
        <ol class="button-group">
            <li><button type="submit"><span>Sign in or register</span></button></li>
        </ol>
    }
</div>