@model MileageStats.Web.Models.DashboardViewModel  
           
<div class="stats">
    <dl>
        <dt class="mpg-label">MPG</dt>
        <dd class="mpg">
            @Mustache.Value(m => m.FleetSummaryStatistics.AverageFuelEfficiency)
        </dd>
        <dt class="mile-label">/mile</dt>
        <dd class="mile">
            @Mustache.Value(m => m.FleetSummaryStatistics.AverageCostToDrive)
        </dd>
        <dt class="month-label">/month</dt>
        <dd class="month">
            @Mustache.Value(m => m.FleetSummaryStatistics.AverageCostPerMonth)
        </dd>
    </dl>
</div>

@foreach (var vehicle in Mustache.Loop(m => m.VehicleListViewModel.Vehicles))
{
<dl class="vehicle widget">
    <dt>
        <h2>
            <a href="@Url.UnencodedAction("Details", "Vehicle", new { id = Mustache.Value(vehicle, i => i.VehicleId) })">@Mustache.Value(vehicle, i => i.Name)</a></h2>
    </dt>
    <dd>
        <table>
            <tr>
                <td>
                    Average Fuel Efficiency
                </td>
                <td>@Mustache.Value(vehicle, i => i.Statistics.AverageFuelEfficiency)/mpg
                </td>
            </tr>
            <tr>
                <td>
                    Total Distance Travelled
                </td>
                <td>@Mustache.Value(vehicle, i => i.Statistics.TotalDistance) mi
                </td>
            </tr>
            <tr>
                <td>
                    Total Cost
                </td>
                <td>
                    @Mustache.Value(vehicle, i => i.Statistics.TotalCost)
                </td>
            </tr>
        </table>
        <ol class="hbox button-group">
            <li><a href="@Url.UnencodedAction("Details", "Vehicle", new { id = Mustache.Value(vehicle, i => i.VehicleId) })"><span>
                Details</span></a></li>
            <li><a href="@Url.UnencodedAction("List", "Fillup", new { vehicleId = Mustache.Value(vehicle, i => i.VehicleId) })"><span>
                Fill Ups</span></a></li>
            <li><a href="@Url.UnencodedAction("List", "Reminder", new { vehicleId = Mustache.Value(vehicle, i => i.VehicleId) })">
                <span>Reminders</span></a></li>
        </ol>
    </dd>
</dl>
}

<ol class="button-group">
	<li class="add icon"><a href="@Url.Action("Add", "Vehicle")"><span>Add New Vehicle</span></a></li>
</ol>

<h2>
    Imminent Reminders</h2>

<ul>
@foreach (var reminder in Mustache.Loop(m => m.ImminentReminders))
{
    <li><a href="@Url.UnencodedAction("Details", "Reminder", new{ id = Mustache.Value(reminder, i => i.Reminder.ReminderId)})">@Mustache.Value(reminder, i => i.Reminder.Title)</a></li>
}
</ul>
