@model MileageStats.Web.Models.VehicleFormModel
@Html.AntiForgeryToken()
<ul>
    <li>
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "editor-textbox", maxlength = "20" })
        @Html.ValidationMessageFor(model => model.Name)
    </li>
    @if (Model.Action == null)
    {
        <li>
            @Html.LabelFor(model => model.Year)
            @Html.DropDownListFor(model => model.Year, ViewBag.Years as SelectList, "--Select a Year--")
            @Html.HiddenFor(model => model.MakeName)
            @Html.HiddenFor(model => model.ModelName)
            @Html.ValidationMessageFor(model => model.Year)
            <ol class="buttons boolean">
                <li>
                    <button type="submit" name="action" value="UpdateMakes">
                        <span>Next</span></button></li>
                <li class="false"><a href="@Url.Action("Index", "Dashboard")"><span>Cancel</span></a></li>
            </ol>
        </li>
    }
    @if (Model.Action == "UpdateMakes")
    {
        <li>
            @Html.LabelFor(model => model.Year)
            @Html.TextBoxFor(model => model.Year, new { @readonly = true }) 
        </li>
        <li>
            @Html.LabelFor(model => model.MakeName)
            @Html.DropDownListFor(model => model.MakeName, ViewBag.Makes as SelectList, "--Select a Make--")
            @Html.HiddenFor(model => model.ModelName)
            @Html.ValidationMessageFor(model => model.MakeName)
            <ol class="buttons boolean">
                <li>
                    <button type="submit" name="action" value="UpdateModels">
                        <span>Next</span></button></li>
                <li class="false"><a href="@Url.Action("Index", "Dashboard")"><span>Cancel</span></a></li>
            </ol>
        </li>
    }
    @if (Model.Action == "UpdateModels")
    {
        <li>
            @Html.LabelFor(model => model.Year)
            @Html.TextBoxFor(model => model.Year, new { @readonly = true }) 
        </li>
        <li>
            @Html.LabelFor(model => model.MakeName)
            @Html.TextBoxFor(model => model.MakeName, new { @readonly = true }) 
        </li>

        <li>
            @Html.LabelFor(model => model.ModelName)
            @Html.DropDownListFor(model => model.ModelName, ViewBag.Models as SelectList, "--Select a Model--")
            @Html.ValidationMessageFor(model => model.ModelName)
        </li>

        <ol class="buttons boolean">
            <li>
                <button type="submit" name="action" value="Save">
                    <span>Save</span></button></li>
            <li class="false"><a href="@Url.Action("Index", "Dashboard")"><span>Cancel</span></a></li>
        </ol>
    }
    @Html.ValidationSummary(true)
    @Html.ValidationMessage("Save")
</ul>
