@model MileageStats.Web.Models.FillupViewModel
           
<dl class="list">
    <dt>@Html.LabelFor(model => model.Date)</dt>
    <dd>@Mustache.Value(m => m.Date)</dd>

    <dt>@Html.LabelFor(model => model.TotalCost)</dt>
    <dd>@Mustache.Value(m => m.TotalCost)</dd>

    <dt>@Html.LabelFor(model => model.TotalUnits)</dt>
    <dd>@Mustache.Value(m => m.TotalUnits)</dd>

    <dt>@Html.LabelFor(model => model.PricePerUnit)</dt>
    <dd>@Mustache.Value(m => m.PricePerUnit)</dd>

    <dt>@Html.LabelFor(model => model.Vendor)</dt>
    <dd>@Mustache.Value(m => m.Vendor)</dd>

    <dt>@Html.LabelFor(model => model.Odometer)</dt>
    <dd>@Mustache.Value(m => m.Odometer)</dd>

    <dt>@Html.LabelFor(model => model.TransactionFee)</dt>
    <dd>@Mustache.Value(m => m.TransactionFee)</dd>

    <dt>@Html.LabelFor(model => model.Remarks)</dt>
    <dd>@Mustache.Value(m => m.Remarks)</dd>
</dl>

<ol class="hbox button-group">
	<li><a href="@Url.UnencodedAction("List", "Fillup", new { vehicleId = Mustache.RouteValue("vehicleId") })"><span>Back</span></a></li>
</ol>