@model MileageStats.Web.Models.FillupViewModel
@{
    ViewBag.Title = "Fill ups for " + ViewBag.VehicleName;
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<nav>
    <ol class="title">
        <li><a href="@Url.Action("Index", "Dashboard")" class="dashboard icon only"><span>Dashboard</span></a></li>
        <li>@Mustache.ViewBag("VehicleName")</li>
    </ol>
    @using (var breadcrumbsection = Mustache.Section("Model"))
    {
        <ol class="breadcrumbs">
            <li><a href="@Url.UnencodedAction("List", "Fillup", new { vehicleId = Mustache.RouteValue("vehicleId") })">Fill ups</a></li>
            <li>@Mustache.Value(m => m.DateShort) - @Mustache.Value(m => m.Vendor)</li>
        </ol>
    }
</nav>
@{Html.RenderPartial("_Flash.Mobile");}
@using (var section = Mustache.Section("Model"))
{
    <div class="view">
        <h2>Fill-up Details</h2>
        <dl class="list">
            <dt>@Html.LabelFor(model => model.Date)</dt>
            <dd>@Mustache.Value(m => m.Date)</dd>

            <dt>@Html.LabelFor(model => model.Odometer)</dt>
            <dd>@Mustache.Value(m => m.Odometer)</dd>

            <dt>@Html.LabelFor(model => model.PricePerUnit)</dt>
            <dd>@Mustache.Value(m => m.PricePerUnit)</dd>
                        
            <dt>@Html.LabelFor(model => model.TotalUnits)</dt>
            <dd>@Mustache.Value(m => m.TotalUnits)</dd>

            <dt>@Html.LabelFor(model => model.Vendor)</dt>
            <dd>@Mustache.Value(m => m.Vendor)</dd>

            <dt>@Html.LabelFor(model => model.TransactionFee)</dt>
            <dd>@Mustache.Value(m => m.TransactionFee)</dd>

            <dt>@Html.LabelFor(model => model.Remarks)</dt>
            <dd>@Mustache.Value(m => m.Remarks)</dd>
        </dl>

        <ol class="hbox button-group">
            <li><a href="@Url.UnencodedAction("List", "Fillup", new { vehicleId = Mustache.RouteValue("vehicleId") })"><span>Back</span></a></li>
        </ol>
    </div>
}